In [937]:
import pandas as pd
import numpy as np
from faker import Faker
import random

In [938]:
random.seed(0)
faker = Faker()
Faker.seed(0)

In [939]:
PATH = '/Users/ngochoang/Library/CloudStorage/GoogleDrive-nhungoc1508@gmail.com/My Drive/Graduate/Semester 2 (Spring 2025)/Big Data Management/Project/P1 - Landing zone/Data'

In [940]:
current_students = pd.read_csv(f'{PATH}/students.csv')
current_students['valid_year'] = '2024 - 2025'
print(current_students.shape)
current_students.head()

(9000, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Donald Contreras,9208625450,"478 Mooney Park, New Valerie, VI 28836",male,dc525,dc525@upc.edu,1,POSC,2024 - 2025
1,Joseph Horton,9886408555,"037 Matthew Shores, Greeneton, CA 98399",male,jh502,jh502@upc.edu,2,RELG,2024 - 2025
2,Savannah Burns,9047592659,"96124 Lloyd Streets, Edwardmouth, DC 61677",female,sb577,sb577@upc.edu,1,PHAS,2024 - 2025
3,William Carter,9048473864,"11959 Clark Village, Ivanview, NH 43940",male,wc352,wc352@upc.edu,3,PBSC,2024 - 2025
4,John Rodriguez,9685225730,"051 Weaver Glen Apt. 724, West Davidborough, M...",male,jr330,jr330@upc.edu,3,SOAN,2024 - 2025

In [941]:
current_students[current_students['year'] == 1].shape[0]

2287

In [942]:
all_ids = set(current_students['student_id'].tolist())

In [943]:
course = pd.read_csv(f'{PATH}/Student/hudsonu-registrar/course', sep='\t', encoding_errors='ignore')
print(course.shape)
course.head(2)

(1851, 9)

,course_code,title,description,dept_code,credits,pre_reqs,core_area,inquiry_area,recommendation
0,AHUM 191X,FLAC/French and German,NaN,NaN,0,NaN,NaN,NaN,NaN
1,AHUM 200X,CLAC Language Pedagogy,NaN,NaN,0,NaN,NaN,NaN,NaN

In [944]:
course = course[course['dept_code'] != 'PSCI']
dept_count = course['dept_code'].value_counts(normalize=True)
dept_count

HIST    0.084453
ENGL    0.083813
SOAN    0.075496
ARTS    0.072937
BIOL    0.057582
EDUC    0.056942
POSC    0.056302
PBSC    0.044786
RMLL    0.044786
RELG    0.044786
ECON    0.037108
CLAS    0.031990
PHAS    0.030710
GEOG    0.028151
MATH    0.025592
PHIL    0.024952
COSC    0.024312
CHEM    0.024312
THEA    0.024312
WRIT    0.021753
EEGS    0.021753
MUSI    0.019834
EALL    0.019834
GERM    0.017914
ENST    0.017274
MELL    0.008317
Name: dept_code, dtype: float64

In [945]:
d = {'year': [1, 2, 3, 4]}
tmp_df = pd.DataFrame(data=d)
year_count = tmp_df['year'].value_counts(normalize=True)

In [946]:
d = {'year': [2, 3, 4]}
tmp_df = pd.DataFrame(data=d)
loa_count = tmp_df['year'].value_counts(normalize=True)
loa_count

2    0.333333
3    0.333333
4    0.333333
Name: year, dtype: float64

Select students valid for 2023 - 2024 (taking away freshman students)

In [947]:
upperclass = current_students[current_students['year'] > 1]
upperclass.shape

(6713, 9)

Changes in student body:
- Drop out: ~100 per year = -
- Leave of absence: ~150 per year = -
- Return from LOA: ~150 per year = +
- Repeating the year: ~30 per year
- Student graduated

Students returning from LOA in 2024 - 2025

In [948]:
loa_return = upperclass.sample(n=150 + random.randint(-10, 10), random_state=0)
loa_return.shape

(152, 9)

In [949]:
loa_return['loa_year'] = '2022 - 2023'
loa_return['return_year'] = '2024 - 2025'
loa_return.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,loa_year,return_year
1853,Lauren Petersen,9748931461,"Unit 8872 Box 1090, DPO AE 11045",female,lp870,lp870@upc.edu,2,ECON,2024 - 2025,2022 - 2023,2024 - 2025
4291,Jose Pugh,9853993886,"USNS Herrera, FPO AP 76469",male,jp906,jp906@upc.edu,3,PBSC,2024 - 2025,2022 - 2023,2024 - 2025

In [950]:
loa_return.to_csv(f'{PATH}/registry/loa_return_2425.csv', index=None)

Students repeating the year

In [951]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return['student_id'])]
upperclass.shape

(6561, 9)

In [952]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(33, 9)

In [953]:
repeating['repeating_year'] = '2024 - 2025'

In [954]:
repeating.to_csv(f'{PATH}/registry/repeating_2425.csv', index=None)

Students progressing normally

In [955]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6528, 9)

In [956]:
progressing['year'].value_counts()

3    2191
2    2175
4    2162
Name: year, dtype: int64

In [957]:
progressing.to_csv(f'{PATH}/registry/progressing_2425.csv', index=None)

# 2023 - 2024

In [958]:
progressing_2 = progressing.copy()
progressing_2['year'] = progressing_2['year'] - 1
progressing_2['valid_year'] = '2023 - 2024'
progressing_2.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
1,Joseph Horton,9886408555,"037 Matthew Shores, Greeneton, CA 98399",male,jh502,jh502@upc.edu,1,RELG,2023 - 2024
3,William Carter,9048473864,"11959 Clark Village, Ivanview, NH 43940",male,wc352,wc352@upc.edu,2,PBSC,2023 - 2024

In [959]:
repeating_2 = repeating.copy()
repeating_2['valid_year'] = '2023 - 2024'
repeating_2 = repeating_2.drop(columns=['repeating_year'], axis=1)
repeating_2.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
3131,Nicole Meyer,9378728540,"PSC 2512, Box 0914, APO AP 12847",female,nm408,nm408@upc.edu,3,BIOL,2023 - 2024
6109,Joan Flynn,9046397532,"238 Charles Court, Lake Williamfurt, VA 34378",female,jf890,jf890@upc.edu,3,WRIT,2023 - 2024

In [960]:
valid_2324 = pd.concat([progressing_2, repeating_2], ignore_index=True)
valid_2324.shape

(6561, 9)

Students graduating this year (seniors)

In [961]:
n_grad = current_students[current_students['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2130

In [962]:
grad_2324 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_2324.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_2324_df = pd.DataFrame.from_records(grad_2324)
grad_2324_df.head()

,name,phone,address,gender,student_id,email,year
0,Ryan Chang,(404)387-6475x93824,"924 Jessica Vista Suite 781, Ryanborough, OH 6...",male,None,None,4
1,Jessica Boyd,5807160975,"93328 Davis Island, Rodriguezside, LA 93111",female,None,None,4
2,Calvin Cook,+1-839-789-4719,"32094 Jones Springs Apt. 201, Masseyhaven, KY ...",male,None,None,4
3,Robin Atkinson,+1-796-594-7751x59179,"35256 Craig Drive Apt. 098, North Davidborough...",female,None,None,4
4,Bryan Davis,209-203-2173,"1314 Graham Circle, Williamsville, UT 51786",male,None,None,4

In [963]:
grad_2324_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_2324_df['valid_year'] = '2023 - 2024'
grad_2324_df['grad_year'] = '2023 - 2024'
grad_2324_df.to_csv(f'{PATH}/registry/grad_2324.csv', index=None)

Students dropping out after this year

In [964]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

112

In [965]:
dropout_2324 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_2324.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_2324_df = pd.DataFrame.from_records(dropout_2324)

In [966]:
dropout_2324_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_2324_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_2324_df['valid_year'] = '2023 - 2024'
dropout_2324_df['dropout_year'] = '2023 - 2024'
dropout_2324_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Mathew Dudley,(923)792-7855,"5321 Scott Bridge Suite 883, New Michaelhaven,...",male,None,None,3,PHIL,2023 - 2024,2023 - 2024
1,Susan Alvarez,334.589.9067,"6625 Jessica Courts, South William, WY 69101",female,None,None,1,HIST,2023 - 2024,2023 - 2024

In [967]:
dropout_2324_df.to_csv(f'{PATH}/registry/dropout_2324.csv', index=None)

In [968]:
repeating.shape[0] + progressing_2.shape[0] +\
    dropout_2324_df.shape[0] + grad_2324_df.shape[0]

8803

Students returning from LOA

In [969]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

155

In [970]:
valid_2324 = valid_2324[valid_2324['year'] > 1]

In [971]:
loa_return_2324_df = valid_2324.sample(n=n_loa_return, random_state=0)
loa_return_2324_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
4113,Angelica Martin,9292677946,"6007 Payne Skyway Apt. 257, Lake Victoria, NJ ...",female,am557,am557@upc.edu,2,ARTS,2023 - 2024
5906,Ashley Jones,9196054032,"2560 Robert Roads Apt. 973, Lauraview, SC 89793",female,aj478,aj478@upc.edu,3,PHAS,2023 - 2024

In [972]:
loa_return_2324_df['return_year'] = '2023 - 2024'
loa_return_2324_df['loa_year'] = '2021 - 2022'
loa_return_2324_df.to_csv(f'{PATH}/registry/loa_return_2324.csv', index=None)

Students taking LOA after this year

In [973]:
n_loa_after = 150 + random.randint(-10, 10)
n_loa_after

153

In [974]:
loa_after_2324 = []
for i in range(n_loa_after):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    loa_after_2324.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

loa_after_2324_df = pd.DataFrame.from_records(loa_after_2324)
loa_after_2324_df['year'] = np.random.choice(year_count.index, size=n_loa_after, p=year_count.values)
loa_after_2324_df['department'] = np.random.choice(dept_count.index, size=n_loa_after, p=dept_count.values)
loa_after_2324_df['loa_year'] = '2023 - 2024'
loa_after_2324_df['return_year'] = '2025 - 2026'
loa_after_2324_df.head(2)

,name,phone,address,gender,student_id,email,year,department,loa_year,return_year
0,Janice Cortez,+1-349-487-1454,"1513 Rogers Mill, Barbaraside, IL 30516",female,None,None,4,ENGL,2023 - 2024,2025 - 2026
1,Kylie Jones,001-866-661-7899x710,"3694 Rebecca Burg, Zacharytown, VI 25697",female,None,None,4,ARTS,2023 - 2024,2025 - 2026

In [975]:
loa_after_2324_df.to_csv(f'{PATH}/registry/loa_after_2324.csv', index=None)

Students valid in 2023 - 2024

In [976]:
dropout_2324_df_2 = dropout_2324_df.copy()
dropout_2324_df_2 = dropout_2324_df_2.drop(columns=['dropout_year'], axis=1)

grad_2324_df_2 = grad_2324_df.copy()
grad_2324_df_2 = grad_2324_df_2.drop(columns=['grad_year'], axis=1)

loa_return_2324_df_2 = loa_return_2324_df.copy()
loa_return_2324_df_2 = loa_return_2324_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_2324_df_2 = loa_after_2324_df.copy()
loa_after_2324_df_2 = loa_after_2324_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [977]:
all_2324 = pd.concat([
    repeating_2,
    progressing_2,
    dropout_2324_df_2,
    grad_2324_df_2,
    loa_after_2324_df_2
], ignore_index=True)
print(all_2324.shape)
all_2324.head()

(8956, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Nicole Meyer,9378728540,"PSC 2512, Box 0914, APO AP 12847",female,nm408,nm408@upc.edu,3,BIOL,2023 - 2024
1,Joan Flynn,9046397532,"238 Charles Court, Lake Williamfurt, VA 34378",female,jf890,jf890@upc.edu,3,WRIT,2023 - 2024
2,Hayley Prince,9367116674,"0240 Kelly Walk, Lake Charlesborough, ND 16724",female,hp231,hp231@upc.edu,2,GERM,2023 - 2024
3,Angel Smith,9533913236,"92720 Turner Track Suite 935, Port Michelle, N...",male,as351,as351@upc.edu,2,GEOG,2023 - 2024
4,Amy Alexander,9358859531,"4360 Tara Forge Suite 428, New Shannonborough,...",female,aa927,aa927@upc.edu,3,THEA,2023 - 2024

In [978]:
all_2324['year'].value_counts()

2    2255
1    2245
3    2234
4    2222
Name: year, dtype: int64

In [979]:
loa_after_2324_df_2.shape

(153, 8)

In [980]:
repeating_2.shape, progressing_2.shape

((33, 9), (6528, 9))

In [981]:
len(all_ids)

9000

In [982]:
all_2324[~all_2324['student_id'].isnull()].shape

(6561, 9)

In [983]:
def generate_student_id(row):
    if row['student_id'] is not None:
        return row['student_id']
    name_split = row['name'].split(' ')
    id = ''
    for name in name_split:
        id = id + str.lower(name[0])
    rand_num = random.randint(100, 999)
    while f'{id}{rand_num}' in all_ids:
        rand_num = random.randint(100, 999)
    student_id = f'{id}{rand_num}'
    all_ids.add(student_id)
    return student_id

In [984]:
def generate_email(row):
    if row['email'] is not None:
        return row['email']
    return f"{row['student_id']}@upc.edu"

In [985]:
all_2324['student_id'] = all_2324.apply(lambda x: generate_student_id(x), axis=1)
all_2324['email'] = all_2324.apply(lambda x: generate_email(x), axis=1)

In [986]:
all_2324[~all_2324['student_id'].isnull()].shape

(8956, 9)

In [987]:
all_2324.to_csv(f'{PATH}/registry/all_2324.csv', index=None)

# 2022 - 2023

Upperclassmen

In [988]:
upperclass = all_2324[all_2324['year'] > 1]
upperclass.shape

(6711, 9)

Students returning from LOA in 2023 - 2024

In [989]:
print(loa_return_2324_df.shape)
loa_return_2324_df.head(2)

(155, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
4113,Angelica Martin,9292677946,"6007 Payne Skyway Apt. 257, Lake Victoria, NJ ...",female,am557,am557@upc.edu,2,ARTS,2023 - 2024,2023 - 2024,2021 - 2022
5906,Ashley Jones,9196054032,"2560 Robert Roads Apt. 973, Lauraview, SC 89793",female,aj478,aj478@upc.edu,3,PHAS,2023 - 2024,2023 - 2024,2021 - 2022

Student repeating the year

In [990]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return_2324_df['student_id'])]
upperclass.shape

(6556, 9)

In [991]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(34, 9)

In [992]:
repeating['repeating_year'] = '2023 - 2024'

In [993]:
repeating.to_csv(f'{PATH}/registry/repeating_2324.csv', index=None)

Students progressing normally

In [994]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6522, 9)

In [995]:
progressing['year'].value_counts()

4    2203
2    2182
3    2137
Name: year, dtype: int64

In [996]:
progressing.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Nicole Meyer,9378728540,"PSC 2512, Box 0914, APO AP 12847",female,nm408,nm408@upc.edu,3,BIOL,2023 - 2024
1,Joan Flynn,9046397532,"238 Charles Court, Lake Williamfurt, VA 34378",female,jf890,jf890@upc.edu,3,WRIT,2023 - 2024

In [997]:
progressing['year'] = progressing['year'] - 1
progressing['valid_year'] = '2022 - 2023'
progressing.head(2)

/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/671700160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['year'] = progressing['year'] - 1
/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/671700160.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['valid_year'] = '2022 - 2023'

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Nicole Meyer,9378728540,"PSC 2512, Box 0914, APO AP 12847",female,nm408,nm408@upc.edu,2,BIOL,2022 - 2023
1,Joan Flynn,9046397532,"238 Charles Court, Lake Williamfurt, VA 34378",female,jf890,jf890@upc.edu,2,WRIT,2022 - 2023

In [998]:
repeating.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,repeating_year
1194,Brandon Johnson,9954862250,"0600 Angela Vista, South Dominic, IL 81065",male,bj983,bj983@upc.edu,3,HIST,2023 - 2024,2023 - 2024
1841,David Jackson,9270886042,"42030 Castillo Villages Apt. 720, Port Carolto...",male,dj576,dj576@upc.edu,3,RMLL,2023 - 2024,2023 - 2024

In [999]:
repeating['valid_year'] = '2022 - 2023'
repeating = repeating.drop(columns=['repeating_year'], axis=1)

In [1000]:
valid_2223 = pd.concat([progressing, repeating], ignore_index=True)
valid_2223.shape

(6556, 9)

Student graduating this year (seniors)

In [1001]:
all_2324[all_2324['year'] == 4].shape

(2222, 9)

In [1002]:
n_grad = all_2324[all_2324['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2148

In [1003]:
grad_2223 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_2223.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_2223_df = pd.DataFrame.from_records(grad_2223)
grad_2223_df.head()

,name,phone,address,gender,student_id,email,year
0,Rachel Davis,+1-974-356-2722x7115,"791 Matthew Spring, Christyville, NY 92578",female,None,None,4
1,Lisa Gonzalez,943.253.8827x3843,"Unit 2715 Box 4705, DPO AA 45444",female,None,None,4
2,Erica Harris,(650)691-8293x2455,"USNS Gilmore, FPO AA 20049",female,None,None,4
3,Joseph Dillon,+1-820-313-0277x74501,"PSC 3189, Box 1372, APO AE 16399",male,None,None,4
4,James West,3545711515,"7650 Martin Rue Apt. 320, Carolynstad, MH 28971",male,None,None,4

In [1004]:
grad_2223_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_2223_df['valid_year'] = '2022 - 2023'
grad_2223_df['grad_year'] = '2022 - 2023'
grad_2223_df.to_csv(f'{PATH}/registry/grad_2223.csv', index=None)

Students dropping out after this year

In [1005]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

101

In [1006]:
dropout_2223 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_2223.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_2223_df = pd.DataFrame.from_records(dropout_2223)

In [1007]:
dropout_2223_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_2223_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_2223_df['valid_year'] = '2022 - 2023'
dropout_2223_df['dropout_year'] = '2022 - 2023'
dropout_2223_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Ronald Avery,274.854.6386,"1587 Parker Canyon Suite 249, South Deanna, TX...",male,None,None,4,EDUC,2022 - 2023,2022 - 2023
1,Debra Jones,(403)508-4070x422,"32194 Griffith Ridges, Lancestad, LA 01379",female,None,None,1,POSC,2022 - 2023,2022 - 2023

In [1008]:
dropout_2223_df.to_csv(f'{PATH}/registry/dropout_2223.csv', index=None)

Students returning from LOA

In [1009]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

146

In [1010]:
valid_2223 = valid_2223[valid_2223['year'] > 1]

In [1011]:
loa_return_2223_df = valid_2223.sample(n=n_loa_return, random_state=0)
loa_return_2223_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
5404,Robert Mcdonald,8389727867,"15510 Steven Grove Apt. 499, South Theresaport...",male,rm331,rm331@upc.edu,3,RELG,2022 - 2023
3030,Bradley Marshall,9312151018,"Unit 2184 Box 1467, DPO AA 04247",male,bm863,bm863@upc.edu,2,EDUC,2022 - 2023

In [1012]:
loa_return_2223_df['return_year'] = '2022 - 2023'
loa_return_2223_df['loa_year'] = '2020 - 2021'
loa_return_2223_df.to_csv(f'{PATH}/registry/loa_return_2223.csv', index=None)

Students taking LOA after this year

In [1013]:
loa_after_2223_df = pd.read_csv(f'{PATH}/registry/loa_return_2425.csv')
loa_after_2223_df['valid_year'] = '2022 - 2023'
loa_after_2223_df['year'] -= 1
loa_after_2223_df.shape

(152, 11)

In [1014]:
loa_after_2223_df['year'].value_counts()

2    53
1    52
3    47
Name: year, dtype: int64

Students valid in 2022 - 2023

In [1015]:
dropout_2223_df_2 = dropout_2223_df.copy()
dropout_2223_df_2 = dropout_2223_df_2.drop(columns=['dropout_year'], axis=1)

grad_2223_df_2 = grad_2223_df.copy()
grad_2223_df_2 = grad_2223_df_2.drop(columns=['grad_year'], axis=1)

loa_return_2223_df_2 = loa_return_2223_df.copy()
loa_return_2223_df_2 = loa_return_2223_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_2223_df_2 = loa_after_2223_df.copy()
loa_after_2223_df_2 = loa_after_2223_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [1016]:
all_2223 = pd.concat([
    repeating,
    progressing,
    dropout_2223_df_2,
    grad_2223_df_2,
    loa_after_2223_df_2
], ignore_index=True)
print(all_2223.shape)
all_2223.head()

(8957, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Brandon Johnson,9954862250,"0600 Angela Vista, South Dominic, IL 81065",male,bj983,bj983@upc.edu,3,HIST,2022 - 2023
1,David Jackson,9270886042,"42030 Castillo Villages Apt. 720, Port Carolto...",male,dj576,dj576@upc.edu,3,RMLL,2022 - 2023
2,Lisa Andrews,9835512743,"39660 Rollins Pines, Medinaville, MO 57852",female,la217,la217@upc.edu,3,PBSC,2022 - 2023
3,Amanda Peterson,(894)823-4475,"91153 Herrera Cliff Apt. 993, Deborahside, DC ...",female,ap532,ap532@upc.edu,4,RELG,2022 - 2023
4,Carlos Smith,(468)231-8573x54857,"8527 Taylor Roads, Port Susan, NC 29945",male,cs409,cs409@upc.edu,4,POSC,2022 - 2023

In [1017]:
all_2223['year'].value_counts()

3    2275
1    2265
2    2222
4    2195
Name: year, dtype: int64

In [1018]:
grad_2223_df_2.shape, dropout_2223_df_2.shape, loa_after_2223_df_2.shape

((2148, 9), (101, 9), (152, 9))

In [1019]:
repeating.shape, progressing.shape

((34, 9), (6522, 9))

In [1020]:
all_ids = set(pd.concat([current_students, all_2324])['student_id'].to_list())
len(all_ids)

11395

In [1021]:
all_2223['student_id'] = all_2223.apply(lambda x: generate_student_id(x), axis=1)
all_2223['email'] = all_2223.apply(lambda x: generate_email(x), axis=1)

In [1022]:
all_2223.to_csv(f'{PATH}/registry/all_2223.csv', index=None)

# 2021 - 2022

Upperclassmen

In [1023]:
upperclass = all_2223[all_2223['year'] > 1]
upperclass.shape

(6692, 9)

In [1024]:
upperclass['year'].value_counts()

3    2275
2    2222
4    2195
Name: year, dtype: int64

Students returning from LOA in 2022 - 2023

In [1025]:
print(loa_return_2223_df.shape)
loa_return_2223_df.head(2)

(146, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
5404,Robert Mcdonald,8389727867,"15510 Steven Grove Apt. 499, South Theresaport...",male,rm331,rm331@upc.edu,3,RELG,2022 - 2023,2022 - 2023,2020 - 2021
3030,Bradley Marshall,9312151018,"Unit 2184 Box 1467, DPO AA 04247",male,bm863,bm863@upc.edu,2,EDUC,2022 - 2023,2022 - 2023,2020 - 2021

Students repeating the year

In [1026]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return_2223_df['student_id'])]
upperclass.shape

(6546, 9)

In [1027]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(32, 9)

In [1028]:
repeating['repeating_year'] = '2022 - 2023'
repeating['valid_year'] = '2021 - 2022'

In [1029]:
repeating.to_csv(f'{PATH}/registry/repeating_2223.csv', index=None)
repeating = repeating.drop(columns=['repeating_year'], axis=1)

Students progressing normally

In [1030]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6514, 9)

In [1031]:
progressing['year'].value_counts()

3    2192
4    2191
2    2131
Name: year, dtype: int64

In [1032]:
progressing['year'] = progressing['year'] - 1
progressing['valid_year'] = '2021 - 2022'
progressing.head(2)

/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/3803819305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['year'] = progressing['year'] - 1
/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/3803819305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['valid_year'] = '2021 - 2022'

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Brandon Johnson,9954862250,"0600 Angela Vista, South Dominic, IL 81065",male,bj983,bj983@upc.edu,2,HIST,2021 - 2022
1,David Jackson,9270886042,"42030 Castillo Villages Apt. 720, Port Carolto...",male,dj576,dj576@upc.edu,2,RMLL,2021 - 2022

In [1033]:
progressing.to_csv(f'{PATH}/registry/progressing_2223.csv', index=None)

Student graduating this year (seniors)

In [1034]:
n_grad = all_2223[all_2223['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2121

In [1035]:
grad_2122 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_2122.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_2122_df = pd.DataFrame.from_records(grad_2122)
grad_2122_df.head()

,name,phone,address,gender,student_id,email,year
0,Gregory Jones,542.252.0470x00868,"Unit 1127 Box 4453, DPO AA 81840",male,None,None,4
1,Victoria Houston,508-670-2362,"623 Jeffrey Road, South David, MI 38618",female,None,None,4
2,Justin Schmitt,644.317.0159,"8775 Sharon Lights Suite 673, East Christina, ...",male,None,None,4
3,Christopher Grant,5112106359,"540 Katherine Valleys Suite 306, North Andrewh...",male,None,None,4
4,Jeff Livingston,530-713-3403x398,"375 Peter Viaduct Apt. 505, New Brent, PR 64322",male,None,None,4

In [1036]:
grad_2122_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_2122_df['valid_year'] = '2021 - 2022'
grad_2122_df['grad_year'] = '2021 - 2022'
grad_2122_df.to_csv(f'{PATH}/registry/grad_2122.csv', index=None)

Students dropping out this year

In [1037]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

102

In [1038]:
dropout_2122 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_2122.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_2122_df = pd.DataFrame.from_records(dropout_2122)

In [1039]:
dropout_2122_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_2122_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_2122_df['valid_year'] = '2021 - 2022'
dropout_2122_df['dropout_year'] = '2021 - 2022'
dropout_2122_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Sandra Vaughn,(339)795-4710x62846,"859 Tricia Shoal, Julieburgh, IA 85187",female,None,None,2,HIST,2021 - 2022,2021 - 2022
1,John Petersen,5775367709,"62353 Miller Walks Apt. 946, North Kennethside...",male,None,None,3,PBSC,2021 - 2022,2021 - 2022

In [1040]:
dropout_2122_df.to_csv(f'{PATH}/registry/dropout_2122.csv', index=None)

Students returning from LOA

In [1041]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

159

In [1042]:
valid_2122 = pd.concat([progressing, repeating], ignore_index=True)
valid_2122.shape

(6546, 9)

In [1043]:
valid_2122 = valid_2122[valid_2122['year'] > 1]

In [1044]:
loa_return_2122_df = valid_2122.sample(n=n_loa_return, random_state=0)
loa_return_2122_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
2653,John Allen,+1-202-563-9525x797,"60535 Andre Parkways, Timothyport, MD 04753",male,ja975,ja975@upc.edu,2,ECON,2021 - 2022
6381,Frances Decker,848-579-5752,"560 Mclaughlin Mills Apt. 771, Alanhaven, VT 1...",female,fd397,fd397@upc.edu,3,ECON,2021 - 2022

In [1045]:
loa_return_2122_df['return_year'] = '2021 - 2022'
loa_return_2122_df['loa_year'] = '2019 - 2020'
loa_return_2122_df.to_csv(f'{PATH}/registry/loa_return_2122.csv', index=None)

Students taking LOA after this year

In [1046]:
loa_after_2122_df = pd.read_csv(f'{PATH}/registry/loa_return_2324.csv')
loa_after_2122_df['valid_year'] = '2021 - 2022'
loa_after_2122_df['year'] -= 1
loa_after_2122_df.shape

(155, 11)

Students valid in 2021 - 2022

In [1047]:
dropout_2122_df_2 = dropout_2122_df.copy()
dropout_2122_df_2 = dropout_2122_df_2.drop(columns=['dropout_year'], axis=1)

grad_2122_df_2 = grad_2122_df.copy()
grad_2122_df_2 = grad_2122_df_2.drop(columns=['grad_year'], axis=1)

loa_return_2122_df_2 = loa_return_2122_df.copy()
loa_return_2122_df_2 = loa_return_2122_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_2122_df_2 = loa_after_2122_df.copy()
loa_after_2122_df_2 = loa_after_2122_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [1048]:
all_2122 = pd.concat([
    repeating,
    progressing,
    dropout_2122_df_2,
    grad_2122_df_2,
    loa_after_2122_df_2
], ignore_index=True)
print(all_2122.shape)
all_2122.head()

(8924, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Paula Roberts,9104455870,"876 Cain Glens Apt. 103, Brendaview, VT 41974",female,pr697,pr697@upc.edu,2,POSC,2021 - 2022
1,Amy Stuart,420-928-0850,"Unit 3129 Box 4601, DPO AE 32932",female,as753,as753@upc.edu,4,EDUC,2021 - 2022
2,Robert Butler,9376494498,"8040 Erica Court Apt. 689, Darleneport, AR 02242",male,rb178,rb178@upc.edu,2,GEOG,2021 - 2022
3,Perry Marshall,677.505.5287x611,"15236 Kerr Trafficway, New Jeffreyside, OK 11067",male,pm529,pm529@upc.edu,4,CLAS,2021 - 2022
4,Leon Gomez,9834040174,"96408 Wallace Keys, Lake Tara, MS 31438",male,lg168,lg168@upc.edu,2,SOAN,2021 - 2022

In [1049]:
all_2122['year'].value_counts()

2    2312
3    2243
1    2221
4    2148
Name: year, dtype: int64

In [1050]:
len(all_ids)

13644

In [1051]:
all_2122['student_id'] = all_2122.apply(lambda x: generate_student_id(x), axis=1)
all_2122['email'] = all_2122.apply(lambda x: generate_email(x), axis=1)

In [1052]:
all_2122.to_csv(f'{PATH}/registry/all_2122.csv', index=None)

# 2020 - 2021

Upperclassmen

In [1053]:
upperclass = all_2122[all_2122['year'] > 1]
upperclass.shape

(6703, 9)

Students returning from LOA in 2021 - 2022

In [1054]:
print(loa_return_2122_df.shape)
loa_return_2122_df.head(2)

(159, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
2653,John Allen,+1-202-563-9525x797,"60535 Andre Parkways, Timothyport, MD 04753",male,ja975,ja975@upc.edu,2,ECON,2021 - 2022,2021 - 2022,2019 - 2020
6381,Frances Decker,848-579-5752,"560 Mclaughlin Mills Apt. 771, Alanhaven, VT 1...",female,fd397,fd397@upc.edu,3,ECON,2021 - 2022,2021 - 2022,2019 - 2020

Students repeating the year

In [1055]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return_2122_df['student_id'])]
upperclass.shape

(6544, 9)

In [1056]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(20, 9)

In [1057]:
repeating['repeating_year'] = '2021 - 2022'
repeating['valid_year'] = '2020 - 2021'

In [1058]:
repeating.to_csv(f'{PATH}/registry/repeating_2122.csv', index=None)
repeating = repeating.drop(columns=['repeating_year'], axis=1)

Students progressing normally

In [1059]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6524, 9)

In [1060]:
progressing['year'].value_counts()

2    2226
3    2152
4    2146
Name: year, dtype: int64

In [1061]:
progressing['year'] = progressing['year'] - 1
progressing['valid_year'] = '2020 - 2021'
progressing.head(2)

/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/1745272693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['year'] = progressing['year'] - 1
/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/1745272693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['valid_year'] = '2020 - 2021'

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Paula Roberts,9104455870,"876 Cain Glens Apt. 103, Brendaview, VT 41974",female,pr697,pr697@upc.edu,1,POSC,2020 - 2021
1,Amy Stuart,420-928-0850,"Unit 3129 Box 4601, DPO AE 32932",female,as753,as753@upc.edu,3,EDUC,2020 - 2021

In [1062]:
progressing.to_csv(f'{PATH}/registry/progressing_2122.csv', index=None)

Student graduating this year

In [1063]:
n_grad = all_2122[all_2122['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2100

In [1064]:
grad_2021 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_2021.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_2021_df = pd.DataFrame.from_records(grad_2021)
grad_2021_df.head()

,name,phone,address,gender,student_id,email,year
0,Andrew Campbell,692-433-7092x8926,"6747 Evan Glens Suite 088, East Shawn, MO 68821",male,None,None,4
1,Clifford Jordan,+1-308-688-4317x98783,"70393 Alvarez Loaf, West Lauramouth, MA 41661",male,None,None,4
2,Anita Moore,+1-471-554-6437x156,"9035 Jill Coves Apt. 689, Scottchester, AS 57859",female,None,None,4
3,Karen Andersen,+1-865-814-3111x1487,"491 Edward Crossing Suite 110, Oliverborough, ...",female,None,None,4
4,Teresa Anderson,8168574596,"Unit 8930 Box 3049, DPO AE 03209",female,None,None,4

In [1065]:
grad_2021_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_2021_df['valid_year'] = '2020 - 2021'
grad_2021_df['grad_year'] = '2020 - 2021'
grad_2021_df.to_csv(f'{PATH}/registry/grad_2021.csv', index=None)

Students dropping out this year

In [1066]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

110

In [1067]:
dropout_2021 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_2021.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_2021_df = pd.DataFrame.from_records(dropout_2021)

In [1068]:
dropout_2021_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_2021_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_2021_df['valid_year'] = '2020 - 2021'
dropout_2021_df['dropout_year'] = '2020 - 2021'
dropout_2021_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Vanessa Peterson,+1-290-238-9916x081,"220 Edward Squares, Lake Andrew, OR 30408",female,None,None,2,EDUC,2020 - 2021,2020 - 2021
1,Christopher Tate,+1-537-767-6289x783,"02815 Christopher Port, North Shirleystad, MD ...",male,None,None,4,ENGL,2020 - 2021,2020 - 2021

In [1069]:
dropout_2021_df.to_csv(f'{PATH}/registry/dropout_2021.csv', index=None)

Students returning from LOA

In [1070]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

145

In [1071]:
valid_2021 = pd.concat([progressing, repeating], ignore_index=True)
valid_2021.shape

(6544, 9)

In [1072]:
valid_2021 = valid_2021[valid_2021['year'] > 1]

In [1073]:
loa_return_2021_df = valid_2021.sample(n=n_loa_return, random_state=0)
loa_return_2021_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
4606,Christine Davis,519.222.5836x9859,"04061 Russell Plaza, Mandyfurt, MN 57614",female,cd908,cd908@upc.edu,3,GERM,2020 - 2021
4765,Dylan Barr,+1-963-811-5161x4406,"40559 Brandy Brook, West Steven, ME 04724",male,db681,db681@upc.edu,3,ARTS,2020 - 2021

In [1074]:
loa_return_2021_df['year'].value_counts()

3    77
2    68
Name: year, dtype: int64

In [1075]:
loa_return_2021_df['return_year'] = '2020 - 2021'
loa_return_2021_df['loa_year'] = '2018 - 2019'
loa_return_2021_df.to_csv(f'{PATH}/registry/loa_return_2021.csv', index=None)

Students taking LOA after this year

In [1076]:
loa_after_2021_df = pd.read_csv(f'{PATH}/registry/loa_return_2223.csv')
loa_after_2021_df['valid_year'] = '2020 - 2021'
loa_after_2021_df['year'] -= 1
print(loa_after_2021_df.shape)
loa_after_2021_df.head(2)

(146, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
0,Robert Mcdonald,8389727867,"15510 Steven Grove Apt. 499, South Theresaport...",male,rm331,rm331@upc.edu,2,RELG,2020 - 2021,2022 - 2023,2020 - 2021
1,Bradley Marshall,9312151018,"Unit 2184 Box 1467, DPO AA 04247",male,bm863,bm863@upc.edu,1,EDUC,2020 - 2021,2022 - 2023,2020 - 2021

In [1077]:
loa_after_2021_df['year'].value_counts()

1    79
2    67
Name: year, dtype: int64

Students valid in 2020 - 2021

In [1078]:
dropout_2021_df_2 = dropout_2021_df.copy()
dropout_2021_df_2 = dropout_2021_df_2.drop(columns=['dropout_year'], axis=1)

grad_2021_df_2 = grad_2021_df.copy()
grad_2021_df_2 = grad_2021_df_2.drop(columns=['grad_year'], axis=1)

loa_return_2021_df_2 = loa_return_2021_df.copy()
loa_return_2021_df_2 = loa_return_2021_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_2021_df_2 = loa_after_2021_df.copy()
loa_after_2021_df_2 = loa_after_2021_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [1079]:
all_2021 = pd.concat([
    repeating,
    progressing,
    dropout_2021_df_2,
    grad_2021_df_2,
    loa_after_2021_df_2
], ignore_index=True)
print(all_2021.shape)
all_2021.head()

(8900, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Thomas Ramirez,(525)678-8873,"9593 Jason Fort, South Susanville, DC 20328",male,tr739,tr739@upc.edu,2,ENST,2020 - 2021
1,Carlos Kelley,+1-348-941-7872x65651,"442 Frank River Apt. 807, Youngport, AK 06556",male,ck353,ck353@upc.edu,4,EEGS,2020 - 2021
2,Kelly Torres,001-603-426-7216,"822 Rice Bypass, Lamview, AS 19659",female,kt266,kt266@upc.edu,2,ENGL,2020 - 2021
3,Kimberly Sandoval,+1-828-654-8450x36154,"0151 Wiggins Parkway Suite 745, Lisabury, GU 3...",female,ks746,ks746@upc.edu,4,CLAS,2020 - 2021
4,Mark Mcdowell,4373296792,"406 Patterson Throughway Suite 820, Juliafort,...",male,mm880,mm880@upc.edu,2,GERM,2020 - 2021

In [1080]:
all_2021['year'].value_counts()

1    2332
2    2253
3    2182
4    2133
Name: year, dtype: int64

In [1081]:
len(all_ids)

15867

In [1082]:
all_2021['student_id'] = all_2021.apply(lambda x: generate_student_id(x), axis=1)
all_2021['email'] = all_2021.apply(lambda x: generate_email(x), axis=1)

In [1083]:
all_2021.to_csv(f'{PATH}/registry/all_2021.csv', index=None)

# 2019 - 2020

In [1084]:
upperclass = all_2021[all_2021['year'] > 1]
upperclass.shape

(6568, 9)

In [1085]:
print(loa_return_2021_df.shape)
loa_return_2021_df.head(2)

(145, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
4606,Christine Davis,519.222.5836x9859,"04061 Russell Plaza, Mandyfurt, MN 57614",female,cd908,cd908@upc.edu,3,GERM,2020 - 2021,2020 - 2021,2018 - 2019
4765,Dylan Barr,+1-963-811-5161x4406,"40559 Brandy Brook, West Steven, ME 04724",male,db681,db681@upc.edu,3,ARTS,2020 - 2021,2020 - 2021,2018 - 2019

In [1086]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return_2021_df['student_id'])]
upperclass.shape

(6423, 9)

In [1087]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(32, 9)

In [1088]:
repeating['repeating_year'] = '2020 - 2021'
repeating['valid_year'] = '2019 - 2020'

In [1089]:
repeating.to_csv(f'{PATH}/registry/repeating_2021.csv', index=None)
repeating = repeating.drop(columns=['repeating_year'], axis=1)

In [1090]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6391, 9)

In [1091]:
progressing['year'].value_counts()

2    2175
4    2121
3    2095
Name: year, dtype: int64

In [1092]:
progressing['year'] = progressing['year'] - 1
progressing['valid_year'] = '2019 - 2020'
progressing.head(2)

/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/2303456022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['year'] = progressing['year'] - 1
/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/2303456022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['valid_year'] = '2019 - 2020'

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Thomas Ramirez,(525)678-8873,"9593 Jason Fort, South Susanville, DC 20328",male,tr739,tr739@upc.edu,1,ENST,2019 - 2020
1,Carlos Kelley,+1-348-941-7872x65651,"442 Frank River Apt. 807, Youngport, AK 06556",male,ck353,ck353@upc.edu,3,EEGS,2019 - 2020

In [1093]:
progressing.to_csv(f'{PATH}/registry/progressing_2021.csv', index=None)

In [1094]:
n_grad = all_2021[all_2021['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2180

In [1095]:
grad_1920 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_1920.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_1920_df = pd.DataFrame.from_records(grad_1920)
grad_1920_df.head()

,name,phone,address,gender,student_id,email,year
0,Dorothy Harris,001-799-325-7730x77683,"2778 Lori Field Suite 465, Jacquelineshire, IL...",female,None,None,4
1,Tiffany Torres,+1-463-864-2320x21334,"67009 Petersen Streets Suite 309, North Willia...",female,None,None,4
2,Renee Khan,792-460-4343,"858 Lowe Glen Apt. 385, North Larry, NH 94742",female,None,None,4
3,Keith Nelson,821.691.6128x2808,"5404 Massey Corners Apt. 020, Port Patriciache...",male,None,None,4
4,Danielle Jones,412-760-2361,"9358 Brittany Forge Suite 339, Williamstown, O...",female,None,None,4

In [1096]:
grad_1920_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_1920_df['valid_year'] = '2019 - 2020'
grad_1920_df['grad_year'] = '2019 - 2020'
grad_1920_df.to_csv(f'{PATH}/registry/grad_1920.csv', index=None)

In [1097]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

96

In [1098]:
dropout_1920 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_1920.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_1920_df = pd.DataFrame.from_records(dropout_1920)

In [1099]:
dropout_1920_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_1920_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_1920_df['valid_year'] = '2019 - 2020'
dropout_1920_df['dropout_year'] = '2019 - 2020'
dropout_1920_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Teresa Camacho,(470)881-0131,"425 Jessica Fort Suite 954, East Johnfurt, DE ...",female,None,None,2,RELG,2019 - 2020,2019 - 2020
1,Natalie Evans,(822)273-4403x8207,"465 Brown Shoal, East Kaylafurt, VT 39685",female,None,None,4,RMLL,2019 - 2020,2019 - 2020

In [1100]:
dropout_1920_df.to_csv(f'{PATH}/registry/dropout_1920.csv', index=None)

In [1101]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

156

In [1102]:
valid_1920 = pd.concat([progressing, repeating], ignore_index=True)
valid_1920.shape

(6423, 9)

In [1103]:
valid_1920 = valid_1920[valid_1920['year'] > 1]

In [1104]:
loa_return_1920_df = valid_1920.sample(n=n_loa_return, random_state=0)
loa_return_1920_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
4780,Karen Leblanc,+1-986-825-3335x247,"38883 Weber Forks, West Kristinahaven, NJ 72432",female,kl789,kl789@upc.edu,3,ARTS,2019 - 2020
3011,Jack Martin,655.579.3838x1715,"828 Cox Ports Suite 573, Hardinside, AS 76408",male,jm917,jm917@upc.edu,2,RELG,2019 - 2020

In [1105]:
loa_return_1920_df['year'].value_counts()

3    82
2    74
Name: year, dtype: int64

In [1106]:
loa_return_1920_df['return_year'] = '2019 - 2020'
loa_return_1920_df['loa_year'] = '2017 - 2018'
loa_return_1920_df.to_csv(f'{PATH}/registry/loa_return_1920.csv', index=None)

In [1107]:
loa_after_1920_df = pd.read_csv(f'{PATH}/registry/loa_return_2122.csv')
loa_after_1920_df['valid_year'] = '2019 - 2020'
loa_after_1920_df['year'] -= 1
print(loa_after_1920_df.shape)
loa_after_1920_df.head(2)

(159, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
0,John Allen,+1-202-563-9525x797,"60535 Andre Parkways, Timothyport, MD 04753",male,ja975,ja975@upc.edu,1,ECON,2019 - 2020,2021 - 2022,2019 - 2020
1,Frances Decker,848-579-5752,"560 Mclaughlin Mills Apt. 771, Alanhaven, VT 1...",female,fd397,fd397@upc.edu,2,ECON,2019 - 2020,2021 - 2022,2019 - 2020

In [1108]:
loa_after_1920_df['year'].value_counts()

2    84
1    75
Name: year, dtype: int64

In [1109]:
dropout_1920_df_2 = dropout_1920_df.copy()
dropout_1920_df_2 = dropout_1920_df_2.drop(columns=['dropout_year'], axis=1)

grad_1920_df_2 = grad_1920_df.copy()
grad_1920_df_2 = grad_1920_df.drop(columns=['grad_year'], axis=1)

loa_return_1920_df_2 = loa_return_1920_df.copy()
loa_return_1920_df_2 = loa_return_1920_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_1920_df_2 = loa_after_1920_df.copy()
loa_after_1920_df_2 = loa_after_1920_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [1110]:
all_1920 = pd.concat([
    repeating,
    progressing,
    dropout_1920_df_2,
    grad_1920_df_2,
    loa_after_1920_df_2
], ignore_index=True)
print(all_1920.shape)
all_1920.head()

(8858, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,John Ramirez,517-852-4095x49602,"907 Pierce Street Suite 815, Kingstad, TN 24520",male,jr183,jr183@upc.edu,2,EALL,2019 - 2020
1,Geoffrey Watkins,(924)311-3992x276,"PSC 7025, Box 7315, APO AA 72603",male,gw634,gw634@upc.edu,2,ECON,2019 - 2020
2,Wendy Jackson,352.331.4243x67859,"95561 Paul Pike, Bobbymouth, WI 66916",female,wj983,wj983@upc.edu,4,HIST,2019 - 2020
3,Judy Mason,880.876.7239x6276,"62802 Matthew Causeway, Port Virginiaville, VI...",female,jm512,jm512@upc.edu,2,SOAN,2019 - 2020
4,Audrey Carter,544.256.8122x610,"7495 Brooke Way Apt. 084, South Alejandroview,...",female,ac359,ac359@upc.edu,3,CLAS,2019 - 2020

In [1111]:
all_1920['year'].value_counts()

1    2274
4    2220
2    2203
3    2161
Name: year, dtype: int64

In [1112]:
len(all_ids)

18077

In [1113]:
all_1920['student_id'] = all_1920.apply(lambda x: generate_student_id(x), axis=1)
all_1920['email'] = all_1920.apply(lambda x: generate_email(x), axis=1)

In [1114]:
all_1920.to_csv(f'{PATH}/registry/all_1920.csv', index=None)

# 2018 - 2019

In [1115]:
upperclass = all_1920[all_1920['year'] > 1]
upperclass.shape

(6584, 9)

In [1116]:
print(loa_return_1920_df.shape)
loa_return_1920_df.head(2)

(156, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
4780,Karen Leblanc,+1-986-825-3335x247,"38883 Weber Forks, West Kristinahaven, NJ 72432",female,kl789,kl789@upc.edu,3,ARTS,2019 - 2020,2019 - 2020,2017 - 2018
3011,Jack Martin,655.579.3838x1715,"828 Cox Ports Suite 573, Hardinside, AS 76408",male,jm917,jm917@upc.edu,2,RELG,2019 - 2020,2019 - 2020,2017 - 2018

In [1117]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return_1920_df['student_id'])]
upperclass.shape

(6428, 9)

In [1118]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(40, 9)

In [1119]:
repeating['repeating_year'] = '2019 - 2020'
repeating['valid_year'] = '2018 - 2019'

In [1120]:
repeating.to_csv(f'{PATH}/registry/repeating_1920.csv', index=None)
repeating = repeating.drop(columns=['repeating_year'], axis=1)

In [1121]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6388, 9)

In [1122]:
progressing['year'].value_counts()

4    2205
2    2117
3    2066
Name: year, dtype: int64

In [1123]:
progressing['year'] = progressing['year'] - 1
progressing['valid_year'] = '2018 - 2019'
progressing.head(2)

/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/136221951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['year'] = progressing['year'] - 1
/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/136221951.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['valid_year'] = '2018 - 2019'

,name,phone,address,gender,student_id,email,year,department,valid_year
0,John Ramirez,517-852-4095x49602,"907 Pierce Street Suite 815, Kingstad, TN 24520",male,jr183,jr183@upc.edu,1,EALL,2018 - 2019
1,Geoffrey Watkins,(924)311-3992x276,"PSC 7025, Box 7315, APO AA 72603",male,gw634,gw634@upc.edu,1,ECON,2018 - 2019

In [1124]:
progressing.to_csv(f'{PATH}/registry/progressing_1920.csv', index=None)

In [1125]:
n_grad = all_1920[all_1920['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2241

In [1126]:
grad_1819 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_1819.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_1819_df = pd.DataFrame.from_records(grad_1819)
grad_1819_df.head()

,name,phone,address,gender,student_id,email,year
0,Ana Hull,+1-528-513-5467x3331,"PSC 8456, Box 9853, APO AA 53297",female,None,None,4
1,Lucas Williams,468.286.1043,"USNS Norris, FPO AA 68068",male,None,None,4
2,Isaac Russo,573-315-0442x374,"1563 Baker Trafficway, East Tammy, PR 33526",male,None,None,4
3,Michael Brock,+1-667-201-6097x14705,"33368 Thomas Ranch, Rodriguezfurt, AR 79344",male,None,None,4
4,Lauren Marshall,+1-893-277-4765x895,"4151 Hunt Grove Apt. 684, Port Christine, VI 8...",female,None,None,4

In [1127]:
grad_1819_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_1819_df['valid_year'] = '2018 - 2019'
grad_1819_df['grad_year'] = '2018 - 2019'
grad_1819_df.to_csv(f'{PATH}/registry/grad_1819.csv', index=None)

In [1128]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

126

In [1129]:
dropout_1819 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_1819.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_1819_df = pd.DataFrame.from_records(dropout_1819)

In [1130]:
dropout_1819_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_1819_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_1819_df['valid_year'] = '2018 - 2019'
dropout_1819_df['dropout_year'] = '2018 - 2019'
dropout_1819_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Paul Johnson,(793)202-7654x11267,"PSC 2898, Box 0054, APO AP 83435",male,None,None,3,BIOL,2018 - 2019,2018 - 2019
1,Erin Gould,580.224.6772x110,"58678 Briana Squares Suite 623, Lake Ellenmout...",female,None,None,1,GEOG,2018 - 2019,2018 - 2019

In [1131]:
dropout_1819_df.to_csv(f'{PATH}/registry/dropout_1819.csv', index=None)

In [1132]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

158

In [1133]:
valid_1819 = pd.concat([progressing, repeating], ignore_index=True)
valid_1819.shape

(6428, 9)

In [1134]:
valid_1819 = valid_1819[valid_1819['year'] > 1]

In [1135]:
loa_return_1819_df = valid_1819.sample(n=n_loa_return, random_state=0)
loa_return_1819_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
4195,Ashlee Parks,459.737.4734,"USCGC Scott, FPO AE 93913",female,ap466,ap466@upc.edu,3,PBSC,2018 - 2019
6145,Christopher Mendez,799.485.1690x099,"066 Robert Harbor, New Scott, FL 64963",male,cm139,cm139@upc.edu,3,MATH,2018 - 2019

In [1136]:
loa_return_1819_df['year'].value_counts()

3    82
2    76
Name: year, dtype: int64

In [1137]:
loa_return_1819_df['return_year'] = '2018 - 2019'
loa_return_1819_df['loa_year'] = '2016 - 2017'
loa_return_1819_df.to_csv(f'{PATH}/registry/loa_return_1819.csv', index=None)

In [1138]:
loa_after_1819_df = pd.read_csv(f'{PATH}/registry/loa_return_2021.csv')
loa_after_1819_df['valid_year'] = '2018 - 2019'
loa_after_1819_df['year'] -= 1
print(loa_after_1819_df.shape)
loa_after_1819_df.head(2)

(145, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
0,Christine Davis,519.222.5836x9859,"04061 Russell Plaza, Mandyfurt, MN 57614",female,cd908,cd908@upc.edu,2,GERM,2018 - 2019,2020 - 2021,2018 - 2019
1,Dylan Barr,+1-963-811-5161x4406,"40559 Brandy Brook, West Steven, ME 04724",male,db681,db681@upc.edu,2,ARTS,2018 - 2019,2020 - 2021,2018 - 2019

In [1139]:
loa_after_1819_df['year'].value_counts()

2    77
1    68
Name: year, dtype: int64

In [1140]:
dropout_1819_df_2 = dropout_1819_df.copy()
dropout_1819_df_2 = dropout_1819_df_2.drop(columns=['dropout_year'], axis=1)

grad_1819_df_2 = grad_1819_df.copy()
grad_1819_df_2 = grad_1819_df_2.drop(columns=['grad_year'], axis=1)

loa_return_1819_df_2 = loa_return_1819_df.copy()
loa_return_1819_df_2 = loa_return_1819_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_1819_df_2 = loa_after_1819_df.copy()
loa_after_1819_df_2 = loa_after_1819_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [1141]:
all_1819 = pd.concat([
    repeating,
    progressing,
    dropout_1819_df_2,
    grad_1819_df_2,
    loa_after_1819_df_2
], ignore_index=True)
print(all_1819.shape)
all_1819.head()

(8940, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Brian Silva,8324997473,"67000 Brown Turnpike, Lake Veronicaville, IN 3...",male,bs671,bs671@upc.edu,2,RELG,2018 - 2019
1,Robert Webb,968.861.5857,"63417 Kristin Flats, Anaburgh, NV 01133",male,rw790,rw790@upc.edu,2,PHIL,2018 - 2019
2,Brittany Huerta,336-874-2922x8804,"1105 Carlos Squares Suite 442, Morganfurt, OK ...",female,bh657,bh657@upc.edu,3,MUSI,2018 - 2019
3,Tonya Hoover,3375835721,"0098 Butler Union, North Ashley, ID 65641",female,th950,th950@upc.edu,2,HIST,2018 - 2019
4,Catherine Greene,938-925-2508x847,"2817 Espinoza Circle, Greenstad, CO 48740",female,cg768,cg768@upc.edu,3,ENST,2018 - 2019

In [1142]:
all_1819['year'].value_counts()

4    2286
3    2248
1    2220
2    2186
Name: year, dtype: int64

In [1143]:
len(all_ids)

20353

In [1144]:
all_1819['student_id'] = all_1819.apply(lambda x: generate_student_id(x), axis=1)
all_1819['email'] = all_1819.apply(lambda x: generate_email(x), axis=1)

In [1145]:
all_1819.to_csv(f'{PATH}/registry/all_1819.csv', index=None)

# 2017 - 2018

In [1146]:
upperclass = all_1819[all_1819['year'] > 1]
upperclass.shape

(6720, 9)

In [1147]:
print(loa_return_1819_df.shape)
loa_return_1819_df.head(2)

(158, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
4195,Ashlee Parks,459.737.4734,"USCGC Scott, FPO AE 93913",female,ap466,ap466@upc.edu,3,PBSC,2018 - 2019,2018 - 2019,2016 - 2017
6145,Christopher Mendez,799.485.1690x099,"066 Robert Harbor, New Scott, FL 64963",male,cm139,cm139@upc.edu,3,MATH,2018 - 2019,2018 - 2019,2016 - 2017

In [1148]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return_1819_df['student_id'])]
upperclass.shape

(6562, 9)

In [1149]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(37, 9)

In [1150]:
repeating['repeating_year'] = '2018 - 2019'
repeating['valid_year'] = '2017 - 2018'

In [1151]:
repeating.to_csv(f'{PATH}/registry/repeating_1819.csv', index=None)
repeating = repeating.drop(columns=['repeating_year'], axis=1)

In [1152]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6525, 9)

In [1153]:
progressing['year'].value_counts()

4    2268
3    2157
2    2100
Name: year, dtype: int64

In [1154]:
progressing['year'] = progressing['year'] - 1
progressing['valid_year'] = '2017 - 2018'
progressing.head(2)

/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/1773846302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['year'] = progressing['year'] - 1
/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/1773846302.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['valid_year'] = '2017 - 2018'

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Brian Silva,8324997473,"67000 Brown Turnpike, Lake Veronicaville, IN 3...",male,bs671,bs671@upc.edu,1,RELG,2017 - 2018
1,Robert Webb,968.861.5857,"63417 Kristin Flats, Anaburgh, NV 01133",male,rw790,rw790@upc.edu,1,PHIL,2017 - 2018

In [1155]:
progressing.to_csv(f'{PATH}/registry/progressing_1819.csv', index=None)

In [1156]:
n_grad = all_1819[all_1819['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2318

In [1157]:
grad_1718 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_1718.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_1718_df = pd.DataFrame.from_records(grad_1718)
grad_1718_df.head()

,name,phone,address,gender,student_id,email,year
0,Olivia Miller,742.742.0417,"12048 Rogers Shores Apt. 303, South Billychest...",female,None,None,4
1,Catherine Lucas,771.602.5707,"665 Jackson Trail, Brettmouth, PW 31567",female,None,None,4
2,Lisa Mccoy,(337)875-0145x85521,"023 Shaffer Branch, New Allison, MO 29298",female,None,None,4
3,Stephanie Rhodes,001-937-732-8622x93889,"Unit 5326 Box 3814, DPO AE 99037",female,None,None,4
4,Brandon Martinez,370.292.3099x9866,"18278 Patrick Parkway, South Daniel, MI 78611",male,None,None,4

In [1158]:
grad_1718_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_1718_df['valid_year'] = '2017 - 2018'
grad_1718_df['grad_year'] = '2017 - 2018'
grad_1718_df.to_csv(f'{PATH}/registry/grad_1718.csv', index=None)

In [1159]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

107

In [1160]:
dropout_1718 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_1718.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_1718_df = pd.DataFrame.from_records(dropout_1718)

In [1161]:
dropout_1718_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_1718_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_1718_df['valid_year'] = '2017 - 2018'
dropout_1718_df['dropout_year'] = '2017 - 2018'
dropout_1718_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Julia Smith,417.218.3999,"818 Brian Brook, East Michelle, MH 39841",female,None,None,4,EDUC,2017 - 2018,2017 - 2018
1,Sara Carey,9343117316,"1564 Lisa Hollow Suite 939, Fernandoville, MH ...",female,None,None,1,SOAN,2017 - 2018,2017 - 2018

In [1162]:
dropout_1718_df.to_csv(f'{PATH}/registry/dropout_1718.csv', index=None)

In [1163]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

155

In [1164]:
valid_1718 = pd.concat([progressing, repeating], ignore_index=True)
valid_1718.shape

(6562, 9)

In [1165]:
valid_1718 = valid_1718[valid_1718['year'] > 1]

In [1166]:
loa_return_1718_df = valid_1718.sample(n=n_loa_return, random_state=0)
loa_return_1718_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
3755,Amy Lane,001-409-765-0777,"66107 Craig Loop, Martinezborough, GA 93695",female,al829,al829@upc.edu,2,WRIT,2017 - 2018
5964,Michael Johnson,(271)742-3806x395,"8458 Brian Streets, Michaelmouth, IN 44450",male,mj111,mj111@upc.edu,3,POSC,2017 - 2018

In [1167]:
loa_return_1718_df['year'].value_counts()

2    78
3    77
Name: year, dtype: int64

In [1168]:
loa_return_1718_df['return_year'] = '2017 - 2018'
loa_return_1718_df['loa_year'] = '2015 - 2016'
loa_return_1718_df.to_csv(f'{PATH}/registry/loa_return_1718.csv', index=None)

In [1169]:
loa_after_1718_df = pd.read_csv(f'{PATH}/registry/loa_return_1920.csv')
loa_after_1718_df['valid_year'] = '2017 - 2018'
loa_after_1718_df['year'] -= 1
print(loa_after_1718_df.shape)
loa_after_1718_df.head(2)

(156, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
0,Karen Leblanc,+1-986-825-3335x247,"38883 Weber Forks, West Kristinahaven, NJ 72432",female,kl789,kl789@upc.edu,2,ARTS,2017 - 2018,2019 - 2020,2017 - 2018
1,Jack Martin,655.579.3838x1715,"828 Cox Ports Suite 573, Hardinside, AS 76408",male,jm917,jm917@upc.edu,1,RELG,2017 - 2018,2019 - 2020,2017 - 2018

In [1170]:
loa_after_1718_df['year'].value_counts()

2    82
1    74
Name: year, dtype: int64

In [1171]:
dropout_1718_df_2 = dropout_1718_df.copy()
dropout_1718_df_2 = dropout_1718_df_2.drop(columns=['dropout_year'], axis=1)

grad_1718_df_2 = grad_1718_df.copy()
grad_1718_df_2 = grad_1718_df_2.drop(columns=['grad_year'], axis=1)

loa_return_1718_df_2 = loa_return_1718_df.copy()
loa_return_1718_df_2 = loa_return_1718_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_1718_df_2 = loa_after_1718_df.copy()
loa_after_1718_df_2 = loa_after_1718_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [1172]:
all_1718 = pd.concat([
    repeating,
    progressing,
    dropout_1718_df_2,
    grad_1718_df_2,
    loa_after_1718_df_2
], ignore_index=True)
print(all_1718.shape)
all_1718.head()

(9143, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Mary Stone,001-877-868-6397x009,"44127 Wagner Avenue Suite 935, North David, VI...",female,ms532,ms532@upc.edu,3,ARTS,2017 - 2018
1,Madison Davis,2959046217,"7264 Aaron Common, West Patrickmouth, HI 01246",female,md855,md855@upc.edu,4,PBSC,2017 - 2018
2,Christopher Lopez,001-735-370-6715x63237,"00223 Howard Cove Suite 553, Gonzalezbury, SD ...",male,cl764,cl764@upc.edu,4,CHEM,2017 - 2018
3,Arthur Dickson,(773)562-8494x3488,"45265 Parker Plains, Port Marystad, VT 30287",male,ad129,ad129@upc.edu,2,POSC,2017 - 2018
4,Samantha Walker,467.649.5685,"7027 Alvarado Estates, Mclaughlinberg, SC 26202",female,sw386,sw386@upc.edu,2,ECON,2017 - 2018

In [1173]:
all_1718['year'].value_counts()

4    2362
3    2306
2    2274
1    2201
Name: year, dtype: int64

In [1174]:
len(all_ids)

22720

In [1175]:
all_1718['student_id'] = all_1718.apply(lambda x: generate_student_id(x), axis=1)
all_1718['email'] = all_1718.apply(lambda x: generate_email(x), axis=1)

In [1176]:
all_1718.to_csv(f'{PATH}/registry/all_1718.csv', index=None)

# 2016 - 2017

In [1177]:
upperclass = all_1718[all_1718['year'] > 1]
upperclass.shape

(6942, 9)

In [1178]:
print(loa_return_1718_df.shape)
loa_return_1718_df.head(2)

(155, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
3755,Amy Lane,001-409-765-0777,"66107 Craig Loop, Martinezborough, GA 93695",female,al829,al829@upc.edu,2,WRIT,2017 - 2018,2017 - 2018,2015 - 2016
5964,Michael Johnson,(271)742-3806x395,"8458 Brian Streets, Michaelmouth, IN 44450",male,mj111,mj111@upc.edu,3,POSC,2017 - 2018,2017 - 2018,2015 - 2016

In [1179]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return_1718_df['student_id'])]
upperclass.shape

(6787, 9)

In [1180]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(27, 9)

In [1181]:
repeating['repeating_year'] = '2017 - 2018'
repeating['valid_year'] = '2016 - 2017'

In [1182]:
repeating.to_csv(f'{PATH}/registry/repeating_1718.csv', index=None)
repeating = repeating.drop(columns=['repeating_year'], axis=1)

In [1183]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6760, 9)

In [1184]:
progressing['year'].value_counts()

4    2353
3    2223
2    2184
Name: year, dtype: int64

In [1185]:
progressing['year'] = progressing['year'] - 1
progressing['valid_year'] = '2016 - 2017'
progressing.head(2)

/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/3969097886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['year'] = progressing['year'] - 1
/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/3969097886.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['valid_year'] = '2016 - 2017'

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Mary Stone,001-877-868-6397x009,"44127 Wagner Avenue Suite 935, North David, VI...",female,ms532,ms532@upc.edu,2,ARTS,2016 - 2017
1,Madison Davis,2959046217,"7264 Aaron Common, West Patrickmouth, HI 01246",female,md855,md855@upc.edu,3,PBSC,2016 - 2017

In [1186]:
progressing.to_csv(f'{PATH}/registry/progressing_1718.csv', index=None)

In [1187]:
n_grad = all_1718[all_1718['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2402

In [1188]:
grad_1617 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_1617.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_1617_df = pd.DataFrame.from_records(grad_1617)
grad_1617_df.head()

,name,phone,address,gender,student_id,email,year
0,Megan Maldonado,989.340.9027x8994,"Unit 5116 Box 1741, DPO AA 66349",female,None,None,4
1,Marc Gonzales,(905)449-1785x4552,"71666 Smith Hills, New Nicholasland, PA 61181",male,None,None,4
2,Christopher Smith,001-912-890-3429x1277,"PSC 9358, Box 5638, APO AP 84577",male,None,None,4
3,Jason Morgan,001-719-262-8698x3728,"324 Lewis Camp Suite 251, Williamsberg, NC 03068",male,None,None,4
4,Matthew Weaver,001-552-677-4237x713,"6076 Winters Haven Apt. 437, North Michellebur...",male,None,None,4

In [1189]:
grad_1617_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_1617_df['valid_year'] = '2016 - 2017'
grad_1617_df['grad_year'] = '2016 - 2017'
grad_1617_df.to_csv(f'{PATH}/registry/grad_1617.csv', index=None)

In [1190]:
grad_1617_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_1617_df['valid_year'] = '2016 - 2017'
grad_1617_df['grad_year'] = '2016 - 2017'
grad_1617_df.to_csv(f'{PATH}/registry/grad_1617.csv', index=None)

In [1191]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

114

In [1192]:
dropout_1617 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_1617.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_1617_df = pd.DataFrame.from_records(dropout_1617)

In [1193]:
dropout_1617_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_1617_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_1617_df['valid_year'] = '2016 - 2017'
dropout_1617_df['dropout_year'] = '2016 - 2017'
dropout_1617_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Jennifer Strickland,6557603326,"Unit 8737 Box 8781, DPO AA 45510",female,None,None,3,HIST,2016 - 2017,2016 - 2017
1,Linda Black,001-559-739-1290x272,"5783 Monica Points, Norrisville, CO 56138",female,None,None,1,PHIL,2016 - 2017,2016 - 2017

In [1194]:
dropout_1617_df.to_csv(f'{PATH}/registry/dropout_1617.csv', index=None)

In [1195]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

153

In [1196]:
valid_1617 = pd.concat([progressing, repeating], ignore_index=True)
valid_1617.shape

(6787, 9)

In [1197]:
valid_1617 = valid_1617[valid_1617['year'] > 1]

In [1198]:
loa_return_1617_df = valid_1617.sample(n=n_loa_return, random_state=0)
loa_return_1617_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
3909,Amber Hall,001-936-304-8233,"PSC 7440, Box 6664, APO AP 93100",female,ah241,ah241@upc.edu,2,RELG,2016 - 2017
3800,Ronald Watson,650-346-0501,"951 Brown Expressway Suite 579, Matthewshaven,...",male,rw923,rw923@upc.edu,2,RELG,2016 - 2017

In [1199]:
loa_return_1617_df['year'].value_counts()

3    83
2    70
Name: year, dtype: int64

In [1200]:
loa_return_1617_df['return_year'] = '2016 - 2017'
loa_return_1617_df['loa_year'] = '2014 - 2015'
loa_return_1617_df.to_csv(f'{PATH}/registry/loa_return_1617.csv', index=None)

In [1201]:
loa_after_1617_df = pd.read_csv(f'{PATH}/registry/loa_return_1819.csv')
loa_after_1617_df['valid_year'] = '2016 - 2017'
loa_after_1617_df['year'] -= 1
print(loa_after_1617_df.shape)
loa_after_1617_df.head(2)

(158, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
0,Ashlee Parks,459.737.4734,"USCGC Scott, FPO AE 93913",female,ap466,ap466@upc.edu,2,PBSC,2016 - 2017,2018 - 2019,2016 - 2017
1,Christopher Mendez,799.485.1690x099,"066 Robert Harbor, New Scott, FL 64963",male,cm139,cm139@upc.edu,2,MATH,2016 - 2017,2018 - 2019,2016 - 2017

In [1202]:
loa_after_1617_df['year'].value_counts()

2    82
1    76
Name: year, dtype: int64

In [1203]:
dropout_1617_df_2 = dropout_1617_df.copy()
dropout_1617_df_2 = dropout_1617_df_2.drop(columns=['dropout_year'], axis=1)

grad_1617_df_2 = grad_1617_df.copy()
grad_1617_df_2 = grad_1617_df_2.drop(columns=['grad_year'], axis=1)

loa_return_1617_df_2 = loa_return_1617_df.copy()
loa_return_1617_df_2 = loa_return_1617_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_1617_df_2 = loa_after_1617_df.copy()
loa_after_1617_df_2 = loa_after_1617_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [1204]:
all_1617 = pd.concat([
    repeating,
    progressing,
    dropout_1617_df_2,
    grad_1617_df_2,
    loa_after_1617_df_2
], ignore_index=True)
print(all_1617.shape)
all_1617.head()

(9461, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Bruce Stevens,470-403-8655x16038,"35826 Hernandez Locks, East Davidville, WI 01314",male,bs371,bs371@upc.edu,3,EDUC,2016 - 2017
1,Katie Lara,7129674672,"781 Lee Squares Suite 515, East Aaronfurt, NY ...",female,kl858,kl858@upc.edu,2,GEOG,2016 - 2017
2,James Lopez,2904399703,"57291 Scott Springs Suite 563, West Collin, NV...",male,jl889,jl889@upc.edu,4,POSC,2016 - 2017
3,Robert Torres,(350)203-5678,"31960 Wilson Station Suite 624, Dustinfort, VT...",male,rt814,rt814@upc.edu,4,ENST,2016 - 2017
4,Bonnie Lynn,2569634540,"90836 Brian Mountain, New Catherine, GU 48074",female,bl667,bl667@upc.edu,2,ECON,2016 - 2017

In [1205]:
all_1617['year'].value_counts()

4    2441
3    2388
2    2348
1    2284
Name: year, dtype: int64

In [1206]:
len(all_ids)

25145

In [1207]:
all_1617['student_id'] = all_1617.apply(lambda x: generate_student_id(x), axis=1)
all_1617['email'] = all_1617.apply(lambda x: generate_email(x), axis=1)

In [1208]:
all_1617.to_csv(f'{PATH}/registry/all_1617.csv', index=None)

# 2015 - 2016

In [1209]:
upperclass = all_1617[all_1617['year'] > 1]
upperclass.shape

(7177, 9)

In [1210]:
print(loa_return_1617_df.shape)
loa_return_1617_df.head(2)

(153, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
3909,Amber Hall,001-936-304-8233,"PSC 7440, Box 6664, APO AP 93100",female,ah241,ah241@upc.edu,2,RELG,2016 - 2017,2016 - 2017,2014 - 2015
3800,Ronald Watson,650-346-0501,"951 Brown Expressway Suite 579, Matthewshaven,...",male,rw923,rw923@upc.edu,2,RELG,2016 - 2017,2016 - 2017,2014 - 2015

In [1211]:
upperclass = upperclass[~upperclass['student_id'].isin(loa_return_1617_df['student_id'])]
upperclass.shape

(7024, 9)

In [1212]:
repeating = upperclass.sample(n=30 + random.randint(-10, 10), random_state=0)
repeating.shape

(27, 9)

In [1213]:
repeating['repeating_year'] = '2016 - 2017'
repeating['valid_year'] = '2015 - 2016'

In [1214]:
repeating.to_csv(f'{PATH}/registry/repeating_1617.csv', index=None)
repeating = repeating.drop(columns=['repeating_year'], axis=1)

In [1215]:
progressing = upperclass[~upperclass['student_id'].isin(repeating['student_id'])]
progressing.shape

(6997, 9)

In [1216]:
progressing['year'].value_counts()

4    2434
3    2297
2    2266
Name: year, dtype: int64

In [1217]:
progressing['year'] = progressing['year'] - 1
progressing['valid_year'] = '2015 - 2016'
progressing.head(2)

/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/496985961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['year'] = progressing['year'] - 1
/var/folders/2l/srpzk4jx3bd_85xnzblspysc0000gn/T/ipykernel_39601/496985961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  progressing['valid_year'] = '2015 - 2016'

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Bruce Stevens,470-403-8655x16038,"35826 Hernandez Locks, East Davidville, WI 01314",male,bs371,bs371@upc.edu,2,EDUC,2015 - 2016
1,Katie Lara,7129674672,"781 Lee Squares Suite 515, East Aaronfurt, NY ...",female,kl858,kl858@upc.edu,1,GEOG,2015 - 2016

In [1218]:
progressing.to_csv(f'{PATH}/registry/progressing_1617.csv', index=None)

In [1219]:
n_grad = all_1617[all_1617['year'] == 4].shape[0] + random.randint(-100, 50)
n_grad

2444

In [1220]:
grad_1516 = []
for i in range(n_grad):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    grad_1516.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None,
        'year': 4
    })

grad_1516_df = pd.DataFrame.from_records(grad_1516)
grad_1516_df.head()

,name,phone,address,gender,student_id,email,year
0,Andrea Griffith,772-986-7029x0398,"USCGC Nelson, FPO AA 80933",female,None,None,4
1,Peter Dean,001-340-463-4957x88605,"2177 Joshua Lock, Lynchfurt, PA 19139",male,None,None,4
2,Stephen Hernandez,949-980-9034,"556 Jonathan Courts Apt. 766, Richardfort, PW ...",male,None,None,4
3,Matthew Douglas,977-860-5918,"356 Gregory Highway Apt. 605, Davidberg, NJ 74561",male,None,None,4
4,John Hernandez,001-535-291-3343x071,"PSC 8326, Box 5159, APO AP 65717",male,None,None,4

In [1221]:
grad_1516_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_1516_df['valid_year'] = '2015 - 2016'
grad_1516_df['grad_year'] = '2015 - 2016'
grad_1516_df.to_csv(f'{PATH}/registry/grad_1516.csv', index=None)

In [1222]:
grad_1516_df['department'] = np.random.choice(dept_count.index, size=n_grad, p=dept_count.values)
grad_1516_df['valid_year'] = '2015 - 2016'
grad_1516_df['grad_year'] = '2015 - 2016'
grad_1516_df.to_csv(f'{PATH}/registry/grad_1516.csv', index=None)

In [1223]:
n_dropout = 100 + random.randint(-20, 40)
n_dropout

98

In [1224]:
dropout_1516 = []
for i in range(n_dropout):
    if random.random() >= 0.5:
        full_name = faker.first_name_female() + ' ' + faker.last_name()
        gender = 'female'
    else:
        full_name = faker.first_name_male() + ' ' + faker.last_name()
        gender = 'male'
    phone = faker.phone_number()
    addr = faker.address().replace('\n', ', ')
    dropout_1516.append({
        'name': full_name,
        'phone': phone,
        'address': addr,
        'gender': gender,
        'student_id': None,
        'email': None
    })

dropout_1516_df = pd.DataFrame.from_records(dropout_1516)

In [1225]:
dropout_1516_df['year'] = np.random.choice(year_count.index, size=n_dropout, p=year_count.values)
dropout_1516_df['department'] = np.random.choice(dept_count.index, size=n_dropout, p=dept_count.values)
dropout_1516_df['valid_year'] = '2015 - 2016'
dropout_1516_df['dropout_year'] = '2015 - 2016'
dropout_1516_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year,dropout_year
0,Vincent Wong,001-337-983-8784x052,"1109 Heather Course Suite 906, West Jessica, W...",male,None,None,3,THEA,2015 - 2016,2015 - 2016
1,Amanda Chapman,(315)262-9669x70191,"91075 Philip Radial, East Sarahport, MS 70070",female,None,None,1,ECON,2015 - 2016,2015 - 2016

In [1226]:
dropout_1516_df.to_csv(f'{PATH}/registry/dropout_1516.csv', index=None)

In [1227]:
n_loa_return = 150 + random.randint(-10, 10)
n_loa_return

151

In [1228]:
valid_1516 = pd.concat([progressing, repeating], ignore_index=True)
valid_1516.shape

(7024, 9)

In [1229]:
valid_1516 = valid_1516[valid_1516['year'] > 1]

In [1230]:
loa_return_1516_df = valid_1516.sample(n=n_loa_return, random_state=0)
loa_return_1516_df.head(2)

,name,phone,address,gender,student_id,email,year,department,valid_year
4414,Crystal Spencer,437.488.7749x1299,"798 Heather Brooks Suite 787, Brettmouth, ND 6...",female,cs950,cs950@upc.edu,2,COSC,2015 - 2016
6509,Sydney Gaines,663-896-0063,"02273 Wolf Burgs Suite 908, Gomezmouth, OR 21860",female,sg575,sg575@upc.edu,3,ENST,2015 - 2016

In [1231]:
loa_return_1516_df['year'].value_counts()

3    77
2    74
Name: year, dtype: int64

In [1232]:
loa_return_1516_df['return_year'] = '2015 - 2016'
loa_return_1516_df['loa_year'] = '2013 - 2014'
loa_return_1516_df.to_csv(f'{PATH}/registry/loa_return_1516.csv', index=None)

In [1233]:
loa_after_1516_df = pd.read_csv(f'{PATH}/registry/loa_return_1718.csv')
loa_after_1516_df['valid_year'] = '2015 - 2016'
loa_after_1516_df['year'] -= 1
print(loa_after_1516_df.shape)
loa_after_1516_df.head(2)

(155, 11)

,name,phone,address,gender,student_id,email,year,department,valid_year,return_year,loa_year
0,Amy Lane,001-409-765-0777,"66107 Craig Loop, Martinezborough, GA 93695",female,al829,al829@upc.edu,1,WRIT,2015 - 2016,2017 - 2018,2015 - 2016
1,Michael Johnson,(271)742-3806x395,"8458 Brian Streets, Michaelmouth, IN 44450",male,mj111,mj111@upc.edu,2,POSC,2015 - 2016,2017 - 2018,2015 - 2016

In [1234]:
loa_after_1516_df['year'].value_counts()

1    78
2    77
Name: year, dtype: int64

In [1235]:
dropout_1516_df_2 = dropout_1516_df.copy()
dropout_1516_df_2 = dropout_1516_df_2.drop(columns=['dropout_year'], axis=1)

grad_1516_df_2 = grad_1516_df.copy()
grad_1516_df_2 = grad_1516_df_2.drop(columns=['grad_year'], axis=1)

loa_return_1516_df_2 = loa_return_1516_df.copy()
loa_return_1516_df_2 = loa_return_1516_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

loa_after_1516_df_2 = loa_after_1516_df.copy()
loa_after_1516_df_2 = loa_after_1516_df_2.drop(columns=['loa_year', 'return_year'], axis=1)

In [1236]:
all_1516 = pd.concat([
    repeating,
    progressing,
    dropout_1516_df_2,
    grad_1516_df_2,
    loa_after_1516_df_2
], ignore_index=True)
print(all_1516.shape)
all_1516.head()

(9721, 9)

,name,phone,address,gender,student_id,email,year,department,valid_year
0,Tony Hampton,857.443.1517x5605,"126 Monica Ferry, East Ryan, SC 96445",male,th232,th232@upc.edu,3,PHAS,2015 - 2016
1,Susan Brooks,781-515-9635,"8933 Cook Mall, South Mary, MA 63522",female,sb478,sb478@upc.edu,2,ENST,2015 - 2016
2,Jennifer Joyce,(479)385-8165,"2317 Cynthia Brook, West Scott, VA 83075",female,jj456,jj456@upc.edu,2,ARTS,2015 - 2016
3,Michael Anderson,001-475-760-4874x2450,"06654 Kelly Expressway, New Patricia, NJ 35133",male,ma853,ma853@upc.edu,2,CHEM,2015 - 2016
4,Nicole Hernandez,001-954-635-9788x658,"336 Parker Groves Apt. 481, West Kelly, PA 64204",female,nh496,nh496@upc.edu,2,PHAS,2015 - 2016

In [1237]:
all_1516['year'].value_counts()

4    2477
3    2461
2    2420
1    2363
Name: year, dtype: int64

In [1238]:
len(all_ids)

27661

In [1239]:
all_1516['student_id'] = all_1516.apply(lambda x: generate_student_id(x), axis=1)
all_1516['email'] = all_1516.apply(lambda x: generate_email(x), axis=1)

In [1240]:
all_1516.to_csv(f'{PATH}/registry/all_1516.csv', index=None)

In [1241]:
len(all_ids)

30203